In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('C:\\Users\RAMZI\OneDrive\Bureau\data-project\\analyst\\_DATA\\tips.csv')

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.info()

In [ ]:
df.head(3)

In [ ]:
df.describe()

In [ ]:
df.describe().transpose()

In [ ]:
df['total_bill']

In [ ]:
df['total_bill']

In [ ]:
df['tip_porcentage'] = 100* (df['tip'] / df['total_bill'] )

In [ ]:
df.head()

In [ ]:
import numpy as np

In [ ]:
df['tip_porcentage'] = np.round(df['tip_porcentage'],2)

In [ ]:
df.head()

In [ ]:
df['tip_porcentage'].mean()

In [ ]:
df.drop('CC Number', axis=1)

In [ ]:
df.head()

In [ ]:
df.drop('CC Number', axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
dh = df.drop('smoker', axis=1)

In [ ]:
dh.head()

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.dropna()

In [ ]:
df.loc[1]

In [ ]:
df.loc[1:3]

In [ ]:
df.loc[1:3, 'total_bill']

In [ ]:
df.reset_index()

In [ ]:
df.head()

In [ ]:
df.head()

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[0:3]

In [ ]:
df.loc['Sun2959']

In [ ]:
df = df.set_index('Payment ID')

In [ ]:
df.head()

In [ ]:
df.loc['Sun2959']

In [ ]:
df.loc['Sun2959', 'total_bill']

In [ ]:
df.loc['Sun2959', 'total_bill':'tip']

In [ ]:
df.iloc[0:3]

In [ ]:
df.iloc[0:3, 0:3]

In [ ]:
df.loc['Sun2959', 'total_bill':'tip']

In [ ]:
df.iloc[[1,3,5]]

In [ ]:
df.iloc[1,3,5]

In [ ]:
df.drop('Sun2959', axis=0, inplace=True)

In [ ]:
df.head()

In [ ]:
df.iloc[:,2:]

In [ ]:
one_row= df.iloc[0]

In [ ]:
df = df.append(one_row)

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df[df['sex']=='Male']

In [74]:
df[(df['sex']=='Male') & (df['total_bill'] > 50)]

,Payment ID,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,tip_porcentage
169,Sat1954,50.81,10.0,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,19.68

In [75]:
options = ['Sat', 'Sun']

In [76]:
df[df['day'].isin(options)]

,Payment ID,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,tip_porcentage
0,Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,16.05
1,Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,16.66
2,Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,13.98
3,Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,14.68
4,Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,18.62
...,...,...,...,...,...,...,...,...,...,...,...
238,Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,20.39
239,Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,7.36
240,Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,8.82
241,Sat17,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,9.82
243,Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,16.05