In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('C:\\Users\\RAMZI\\OneDrive\\Bureau\\data-project\\analyst\\_DATA\\movie_scores.csv')

In [ ]:
df.head()

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df[df['pre_movie_score'].notnull()]

In [ ]:
df.dropna(axis=0, how='all', thresh=None, subset=None, inplace=False)

In [ ]:
df.dropna(axis=0, how='any', thresh=None, subset=['pre_movie_score'], inplace=False)

In [ ]:
df.dropna(axis=1, thresh=4, inplace=False)

In [ ]:
df.fillna(value=0, method=None, axis=None, inplace=False, limit=None, downcast=None)

In [ ]:
def fill_na_mean(df, column):
    if df[column].dtype == 'float64' or df[column].dtype == 'int64':
        df[column].fillna(df[column].mean(), inplace=True)

In [ ]:
def to_int(df, column):
    if df[column].dtype == 'float64' or df[column].dtype == 'int64':
        df[column] = df[column].astype(int)

In [ ]:
for i in df.columns:
    fill_na_mean(df, i)
    to_int(df, i)

In [53]:
df

  first_name last_name  age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks   63    m                8                10
1        NaN       NaN   52  NaN                7                 9
2       Hugh   Jackman   51    m                7                 9
3      Oprah   Winfrey   66    f                6                 8
4       Emma     Stone   31    f                7                 9